<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<div class="aboutus-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mt-3 wow fadeInLeft">
                <div class="aboutus">
                    <h2 class="aboutus-title">Roofing</h2>
                    <p class="aboutus-text">provides roof installation for both new construction and pre-existing structures. Our technicians use only the highest-quality materials when installing on your property and treat each job with care, attention to detail, and meticulous workmanship. Whether you're a residential or commercial client, you can rest assured that Nizel Constructions will provide long-term value and protection to your property.</p>
                    <p class="aboutus-text">Whether you've suffered storm damage, water damage, or your roof is simply outdated, Nizel Constructions is here to help determine a cost-effective roofing solution that fits within your budget and needs. Whether that means a single repair or a full-on replacement, you can trust that our qualified team will lead you in the right direction. Our goal is to save you thousands of dollars down the road by addressing your roofing issues early!</p>
                    
                    <a routerLink="/about" class="aboutus-more">read more</a>
                </div>
            </div>
            <div class="col-lg-6 mt-3 wow fadeInRight">
                <div class="about-img"> <img src="assets/images/roof4.jpg" class="full-width" alt="img"> </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-contact-form></app-contact-form> -->
<app-footer></app-footer>