<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<div class="aboutus-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mt-3 wow fadeInLeft">
                <div class="aboutus">
                    <h2 class="aboutus-title">SLIDING</h2>
                    <p class="aboutus-text"> Our team can visually inspect siding integrity and estimate how much was damaged after a storm. We typically ask the following during a siding inspection:</p>
                    <ul>
                        <li>When was the siding installed?</li>
                        <li>Do you know the manufacturer or the warranty status?</li>
                        <li>Did you purchase the siding or did you purchase the home with it already in place?</li>
                        <li>Have you experienced water damage, mold growth or simply excess moisture, etc?</li>
                        <li>What are your monthly electricity costs in the summer?</li>
                        <li>Does your insurance cover siding replacement?</li>
                      </ul>             
                    <a routerLink="/about" class="aboutus-more">read more</a>
                </div>
            </div>
            <div class="col-lg-6 mt-3 wow fadeInRight">
                <div class="about-img"> <img src="assets/images/gutters.jpg" class="full-width" alt="img"> </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-contact-form></app-contact-form> -->
<app-footer></app-footer>