<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<div class="aboutus-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mt-3 wow fadeInLeft">
                <div class="aboutus">
                    <h2 class="aboutus-title">COMMERCIAL</h2>
                    <p class="aboutus-text">We are a full-service roofing contractor, experienced in new roofing installations. Our team also offers competitive maintenance contracts, repair and inspection.</p>
                                   
                    <a routerLink="/about" class="aboutus-more">read more</a>
                </div>
            </div>
            <div class="col-lg-6 mt-3 wow fadeInRight">
                <div class="about-img"> <img src="assets/images/commercial.jpg" class="full-width" alt="img"> </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-contact-form></app-contact-form> -->
<app-footer></app-footer>