<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<div class="aboutus-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mt-3 wow fadeInLeft">
                <div class="aboutus">
                    <h2 class="aboutus-title">MULTI-FAMILY</h2>
                    <p class="aboutus-text">Flat roofs pose some of the greatest challenges for commercial roofing contractors. Luckily, we have the experience and skills to meet and exceed requirements for all types of roofing projects. We can work around a variety of obstacles to create a watertight, long-lasting roof for your building. Some of these obstacles include HVAC machinery, air vents and piping. But don't worry - they're no problem for our professionals.</p>
                                   
                    <a routerLink="/about" class="aboutus-more">read more</a>
                </div>
            </div>
            <div class="col-lg-6 mt-3 wow fadeInRight">
                <div class="about-img"> <img src="assets/images/multi.jpg" class="full-width" alt="img"> </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-contact-form></app-contact-form> -->
<app-footer></app-footer>