<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<div class="aboutus-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mt-3 wow fadeInLeft">
                <div class="aboutus">
                    <h2 class="aboutus-title">STORM-DAMAGE</h2>
                    <p class="aboutus-text">When your property has weathered a storm, you can count on Nizel Construcations for fast storm damage roof repair services. Sometimes, storm damage can be hard to see. After inclement weather, check for:</p>
                    <ul>
                        <li>Missing shingles</li>
                        <li>Dented shingles</li>
                        <li>Broken shingles</li>
                        <li>Granules in gutters or downspouts</li>
                        <li>Ceiling leaks</li>
                      </ul>             
                    <a routerLink="/about" class="aboutus-more">read more</a>
                </div>
            </div>
            <div class="col-lg-6 mt-3 wow fadeInRight">
                <div class="about-img"> <img src="assets/images/storm.jpg" class="full-width" alt="img"> </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-contact-form></app-contact-form> -->
<app-footer></app-footer>