<div class="aboutus-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mt-3 wow fadeInLeft">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">Nizel can provide a free storm evaluation and storm inspection 
                        to make sure that your building is protected. We proudly provide residential & commercial roofing services in Tyler,
                         Longview, Rockwall, Prosper, Austin, TX. We're certified to work on roofing systems, providing your 
                         business with the best roofing results possible. You can count on us to handle any roofing installation, 
                        repair or maintenance project. Our team can complete commercial projects of all sizes.</p>
                    <a routerLink="/about" class="aboutus-more">read more</a>
                </div>
            </div>
            <div class="col-lg-6 mt-3 wow fadeInRight">
                <div class="about-img"> <img src="assets/images/about.jpg" class="full-width" alt="img"> </div>
            </div>
        </div>
    </div>
</div>